@model Course
@{
    ViewData["Title"] = "Update";
}
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <img style="width:250px; height:200px;object-fit:cover;" src="~/img/course/@Model.Image"/>
                <form method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="@Model.Photo"></label>
                        <input asp-for="@Model.Photo" class="form-control">
                        <span asp-validation-for="@Model.Photo" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Name"></label>
                        <input asp-for="@Model.Name" class="form-control">
                        <span asp-validation-for="@Model.Name" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.AboutCourse"></label>
                        <input asp-for="@Model.CourseDetails.AboutCourse" class="form-control">
                        <span asp-validation-for="@Model.CourseDetails.AboutCourse" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.Assesments"></label>
                        <textarea asp-for="@Model.CourseDetails.Assesments" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.Assesments" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.Certification"></label>
                        <textarea asp-for="@Model.CourseDetails.Certification" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.Certification" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.ClassDuration"></label>
                        <textarea asp-for="@Model.CourseDetails.ClassDuration" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.ClassDuration" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.CourseFee"></label>
                        <textarea asp-for="@Model.CourseDetails.CourseFee" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.CourseFee" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.Duration"></label>
                        <textarea asp-for="@Model.CourseDetails.Duration" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.Duration" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.HowToApply"></label>
                        <textarea asp-for="@Model.CourseDetails.HowToApply" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.HowToApply" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.Language"></label>
                        <textarea asp-for="@Model.CourseDetails.Language" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.Language" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.SkillLevels"></label>
                        <textarea asp-for="@Model.CourseDetails.SkillLevels" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.SkillLevels" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.Starts"></label>
                        <textarea asp-for="@Model.CourseDetails.Starts" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.Starts" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CourseDetails.Students"></label>
                        <textarea asp-for="@Model.CourseDetails.Students" class="form-control"></textarea>
                        <span asp-validation-for="@Model.CourseDetails.Students" class="form-text text-danger"></span>
                    </div>
                  
                    <input type="hidden" asp-for="@Model.Image" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a asp-action="Index" class="btn btn-primary">Go Back</a>

                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
 }